In [1]:
import pandas as pd
from operator import itemgetter
import ast

df = pd.read_csv('../data/1_predicted_category_documents.csv')

In [2]:
places = pd.read_csv('../data/places.csv')
print(len(places.doc_id.unique()))
places = places[places['country_conf']>0.4]

print(len(places.doc_id.unique()))

gm_docs = df.loc[
    (df['title'].str.lower().str.contains("gulf of mexico")) |
    (df['content'].str.lower().str.contains("gulf of mexico")),
    "id"
]
geocolumns = ["word", "country_conf", "feature_code","lat","lon","place_name","feature_class","geonameid"]
gm = pd.DataFrame({"doc_id": gm_docs})
gm[geocolumns] = ["Gulf of Mexico",0.8,"GULF", 25, -90, "Gulf of Mexico", "H", 3523271]


lab_docs = df.loc[
    (df['title'].str.lower().str.contains("labrador sea")) |
    (df['content'].str.lower().str.contains("labrador sea")),
    "id"
]
geocolumns = ["word", "country_conf", "feature_code","lat","lon","place_name","feature_class","geonameid"]
lab = pd.DataFrame({"doc_id": lab_docs})
lab[geocolumns] = ["Labrador Sea",0.8,"SEA", 57, -55, "Labrador Sea", "H", 3424929]

baf_docs = df.loc[
    (df['title'].str.lower().str.contains("baffin bay")) |
    (df['content'].str.lower().str.contains("baffin bay")),
    "id"
]
geocolumns = ["word", "country_conf", "feature_code","lat","lon","place_name","feature_class","geonameid"]
baf = pd.DataFrame({"doc_id": baf_docs})
baf[geocolumns] = ["Baffin Bay",0.8,"BAY", 74, -68, "Baffin Bay", "H", 3831554]

ok_docs = df.loc[
    (df['title'].str.lower().str.contains("sea of okhotsk")) |
    (df['content'].str.lower().str.contains("sea of okhotsk")),
    "id"
]
geocolumns = ["word", "country_conf", "feature_code","lat","lon","place_name","feature_class","geonameid"]
ok = pd.DataFrame({"doc_id": baf_docs})
ok[geocolumns] = ["Sea of Okhotsk",0.8, "SEA", 55, 150, "Sea of Okhotsk", "H", 2127380]

places = pd.concat([places, gm, lab, baf, ok])

places.sort_values('country_conf').head()

110330
95623

,word,spans,country_predicted,country_conf,doc_id,admin1,lat,lon,country_code3,geonameid,place_name,feature_class,feature_code
523977,Atacama,"[{'start': 40, 'end': 47}]",CHL,0.40238,3947200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
257299,Atacama,"[{'start': 1049, 'end': 1056}]",CHL,0.40238,3305608,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
508963,Cabo,"[{'start': 242, 'end': 246}]",BRA,0.40238,742671,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
508987,Praia,"[{'start': 90, 'end': 95}]",BRA,0.40238,3897163,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
167280,Pacific,"[{'start': 1496, 'end': 1503}]",AUS,0.40238,650303,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
geocolumns = ["feature_code","lat","lon","place_name","feature_class","geonameid"]
places.loc[places["word"]=="Pakistan", geocolumns]=["PCLI",30,70,"Islamic Republic of Pakistan","A",1168579]
places.loc[places["word"]=="Colombia", geocolumns]=["PCLI",4,-73.25,"Colombia","A",3686110]
places.loc[places["word"]=="Argentina", geocolumns]=["PCLI",-34,-64,"Argentine Republic","A",3865483]
places.loc[places["word"]=="Sahara", geocolumns] = ["DSRT", 26, 13, "Sahara", "T", 2212709]
places.loc[places["word"]=="Alps",geocolumns] = ["MTS", 46.41667, 10, "Alps", "T", 2661786]
places.loc[places["word"]=="Mediterranean Sea",geocolumns] = ["SEA", 35, 20, "Mediterranean Sea", "T", 2661786]
places.loc[places["word"]=="MEDITERRANEAN",geocolumns] = ["SEA", 35, 20, "Mediterranean Sea", "T", 2661786]
places.loc[places["word"]=="East China",geocolumns] = ["PCLI", 35, 105, "China", "A", 1814991]
places.loc[places["word"]=="South China",geocolumns] = ["PCLI", 35, 105, "China", "A", 1814991]
places.loc[places["word"]=="Great Lakes",geocolumns] = ["LK", 45.68751, -84.43753, "Great Lakes", "H", 4994594]
places.loc[places["word"]=="Catalonia",geocolumns] = ["ADM1", 41.82046, 1.86768, "Catalunya", "A", 3336901]
places.loc[places["word"]=="South Pacific",geocolumns] = ["OCN", -45, -130, "South Pacific Ocean", "H", 4030483]
places.loc[places["word"]=="Gulf Coast",geocolumns] = ["AREA", 29.36901, -95.00565, "Gulf Coast", "L", 7287689]
places.loc[places["word"]=="Gulf coast",geocolumns] = ["AREA", 29.36901, -95.00565, "Gulf Coast", "L", 7287689]
places.loc[places["word"]=="Hainan Island",geocolumns] = ["ISL", 19.2, 109.7, "Hainan Dao", "T", 1809055]
places.loc[places["word"]=="Red Sea",geocolumns] = ["SEA", 20.26735, 38.53455, "Red Sea", "H", 350155]
places.loc[places["word"]=="Himalayan",geocolumns] = ["MTS", 28,84, "Himalayas", "T", 1252558]
places.loc[places["word"]=="Himalayas",geocolumns] = ["MTS", 28,84, "Himalayas", "T", 1252558]
places.loc[places["word"]=="North America's",geocolumns] = ["CONT", 46.07323, -100.54688, "North America", "L", 6255149]
places.loc[places["word"]=="Atlantic Ocean",geocolumns] = ["OCN", 10, -25, "Atlantic Ocean", "H", 3373405]
places.loc[places["word"]=="Scandinavia",geocolumns] = ["RGN", 63, 12, "Scandinavia", "L", 2614165]
places.loc[places["word"]=="California (USA",geocolumns] = ["ADM1", 37.25022, -119.75126, "California", "A", 5332921]
places.loc[places["word"]=="California, USA",geocolumns] = ["ADM1", 37.25022, -119.75126, "California", "A", 5332921]
places.loc[places["word"]=="North Pacific",geocolumns] = ["OCN", 30, -170, "North Pacific Ocean", "H", 4030875]
places.loc[places["word"]=="Huai",geocolumns] = ["STM", 33.133333, 118.5, "Huai He", "H", 1807690]
places.loc[places["word"]=="Washington, DC",geocolumns] = ["PPLC", 38.89511, -77.03637, "Washington", "P", 4140963]
places.loc[places["word"]=="Messinian",geocolumns] = ["ADM2", 37.25, -21.83333, "Nomos Messinias", "A", 257149]
places.loc[places["word"]=="Ionian Sea",geocolumns] = ["SEA", 39, 19, "Ionian Sea", "H", 2463713]
places.loc[places["word"]=="NYC",geocolumns] = ["PPL", 40.71427, -74.00597, "New York City", "P", 5128581]
places.loc[places["word"]=="Indian Ocean",geocolumns] = ["OCN", -10, 70, "Indian Ocean", "P", 1545739]
places.loc[places["word"]=="North Sea",geocolumns] = ["SEA", 55, 3, "North Sea", "P", 2960848]
places.loc[places["word"]=="Philippine Sea",geocolumns] = ["SEA", 20, 135, "Philippine Sea", "P", 1818190]
places.loc[places["word"]=="Black Sea",geocolumns] = ["SEA", 43, 34, "Black Sea", "H", 630673]
places.loc[places["word"]=="Coral Sea",geocolumns] = ["SEA", -20, 155, "Coral Sea", "H", 2194166]
places.loc[places["word"]=="Timor Sea",geocolumns] = ["SEA", -11, 127, "Timor Sea", "H", 2078065]
places.loc[places["word"]=="Hudson Bay",geocolumns] = ["BAY", 60, -85, "Hudson Bay", "H", 5978134]
places.loc[places["word"]=="Bering Sea",geocolumns] = ["SEA", 60, -175, "Bering Sea", "H", 4031788]
places.loc[places["word"]=="Okhotsk Sea",geocolumns] = ["SEA", 55, 150, "Sea of Okhotsk", "H", 2127380]

places.loc[places["place_name"]=="Central Upper Nile",geocolumns] = ["ADM1", 10, 32.7, "Upper Nile", "A", 381229]


places.loc[places["place_name"]=="Gobolka Woqooyi Galbeed","place_name"] = "Woqooyi Galbeed"

places = places[places["place_name"]!="Pacific County"]
places = places.loc[places["word"]!="B.V."]
places = places[places["word"]!="MMT"]
places = places[places["word"]!="Yellow"]
places = places[places["word"]!="Hadley"]
places = places[places["word"]!="Western North"]
places = places[places["word"]!="colonies"]
places = places[places["word"]!="TN"]
places = places[places["word"]!="NH"]
places = places[places["word"]!="Mn"]
places = places[places["word"]!="Tx"]
places = places[places["word"]!="TX"]
places = places[places["word"]!="Tn"]
places = places[places["word"]!="FL"]
places = places[places["word"]!="Spartina"]
places = places[places["word"]!="Tamarix"]
places = places[places["word"]!="Eurasia"]
places = places[places["word"]!="Phillyrea"]
places = places[places["word"]!="N-15"]
places = places[places["word"]!="LT50"]
places = places[places["word"]!="POSEIDON"]
places = places[places["word"]!="LC50"]
places = places[places["word"]!="El Nio"]
places = places[places["word"]!="La Nia"]
places = places[places["word"]!="Red"]
places = places[places["word"]!="Gulf Stream"]
places = places[places["word"].str.len()>2]


places.lat = places.lat.astype(float)
places.lon = places.lon.astype(float)

places = places.drop_duplicates(["doc_id","word"])

print(places.shape)

places.to_csv("../data/place_df.csv",index=False)
#places.to_csv("~/ownCloud/regional-impacts-data/place_df.csv",index=False)

(208134, 13)

In [4]:
places[places["feature_code"]=="HTL"].groupby('place_name').size().sort_values(ascending=False)

place_name
Hyatt Regency Chesapeake Bay Golf Resort, Spa and Marina    191
hayman island resort great barrier reef                      75
West Asia Hotel Shanghai                                     37
Best Western China Lake Inn                                  34
Hemisphere Hotel                                             32
                                                           ...
Kobe City Gardens Hotel                                       1
Kymothoi Rooms Pool Bar                                       1
Kyoto City Hotel                                              1
La Quinta Inn & Suites Naples Airport 1047                    1
1 Br, Apartment, Sea View, Sleeps 3                           1
Length: 697, dtype: int64

In [11]:
places[places["word"].astype(str).str.contains("Sudano")]

,word,spans,country_predicted,country_conf,doc_id,admin1,lat,lon,country_code3,geonameid,place_name,feature_class,feature_code,continent
39997,Sudano,"[{'start': 282, 'end': 288}]",SDN,0.922130,1445873,NaN,16.0,30.0,SDN,366755.0,Republic of the Sudan,A,PCLI,Africa
50844,Sudano,"[{'start': 96, 'end': 102}]",SDN,0.854655,421226,NaN,16.0,30.0,SDN,366755.0,Republic of the Sudan,A,PCLI,Africa
67719,Sudano,"[{'start': 432, 'end': 438}]",SDN,0.898828,673819,NaN,16.0,30.0,SDN,366755.0,Republic of the Sudan,A,PCLI,Africa
148252,Sudano,"[{'start': 1472, 'end': 1478}]",SDN,0.898828,307983,NaN,16.0,30.0,SDN,366755.0,Republic of the Sudan,A,PCLI,Africa
195159,Sudano,"[{'start': 27, 'end': 33}]",SDN,0.922130,619242,NaN,16.0,30.0,SDN,366755.0,Republic of the Sudan,A,PCLI,Africa
206248,Sudano,"[{'start': 61, 'end': 67}]",SDN,0.898828,300699,NaN,16.0,30.0,SDN,366755.0,Republic of the Sudan,A,PCLI,Africa
258713,Sudano,"[{'start': 27, 'end': 33}]",SDN,0.922130,2309872,NaN,16.0,30.0,SDN,366755.0,Republic of the Sudan,A,PCLI,Africa
281195,Sudano,"[{'start': 1515, 'end': 1521}]",SDN,0.922130,1289409,NaN,16.0,30.0,SDN,366755.0,Republic of the Sudan,A,PCLI,Africa
282450,Sudano,"[{'start': 624, 'end': 630}]",SDN,0.878679,744179,NaN,16.0,30.0,SDN,366755.0,Republic of the Sudan,A,PCLI,Africa
296439,Sudano,"[{'start': 358, 'end': 364}]",SDN,0.884594,1297818,NaN,16.0,30.0,SDN,366755.0,Republic of the Sudan,A,PCLI,Africa
296751,Sudano,"[{'start': 762, 'end': 768}]",SDN,0.898828,146186,NaN,16.0,30.0,SDN,366755.0,Republic of the Sudan,A,PCLI,Africa
299526,Sudano,"[{'start': 185, 'end': 191}]",SDN,0.922130,1296045,NaN,16.0,30.0,SDN,366755.0,Republic of the Sudan,A,PCLI,Africa
317161,Sudano,"[{'start': 359, 'end': 365}]",SDN,0.922130,1313405,NaN,16.0,30.0,SDN,366755.0,Republic of the Sudan,A,PCLI,Africa
329545,Sudano,"[{'start': 1223, 'end': 1229}]",SDN,0.843347,695114,NaN,16.0,30.0,SDN,366755.0,Republic of the Sudan,A,PCLI,Africa
329628,Sudano,"[{'start': 82, 'end': 88}]",SDN,0.836251,1543170,NaN,16.0,30.0,SDN,366755.0,Republic of the Sudan,A,PCLI,Africa
345949,Sudano,"[{'start': 795, 'end': 801}]",SDN,0.898828,61153,NaN,16.0,30.0,SDN,366755.0,Republic of the Sudan,A,PCLI,Africa
349128,Sudano,"[{'start': 1875, 'end': 1881}]",SDN,0.898828,2361672,NaN,16.0,30.0,SDN,366755.0,Republic of the Sudan,A,PCLI,Africa
355754,Sudano,"[{'start': 1038, 'end': 1044}]",SDN,0.898828,2560109,NaN,16.0,30.0,SDN,366755.0,Republic of the Sudan,A,PCLI,Africa
370891,Sudano,"[{'start': 413, 'end': 419}]",SDN,0.898828,2362018,NaN,16.0,30.0,SDN,366755.0,Republic of the Sudan,A,PCLI,Africa
388753,Sudano,"[{'start': 91, 'end': 97}]",SDN,0.884594,3825073,NaN,16.0,30.0,SDN,366755.0,Republic of the Sudan,A,PCLI,Africa
413699,Sudano,"[{'start': 27, 'end': 33}]",SDN,0.922130,2093651,NaN,16.0,30.0,SDN,366755.0,Republic of the Sudan,A,PCLI,Africa
424215,Sudano,"[{'start': 654, 'end': 660}]",SDN,0.922130,1354361,NaN,16.0,30.0,SDN,366755.0,Republic of the Sudan,A,PCLI,Africa
427580,Sudano,"[{'start': 594, 'end': 600}]",SDN,0.898828,3451369,NaN,16.0,30.0,SDN,366755.0,Republic of the Sudan,A,PCLI,Africa
443893,Sudano,"[{'start': 418, 'end': 424}]",SDN,0.898828,3911337,NaN,16.0,30.0,SDN,366755.0,Republic of the Sudan,A,PCLI,Africa
449818,Sudano,"[{'start': 979, 'end': 985}]",SDN,0.854655,39506,NaN,16.0,30.0,SDN,366755.0,Republic of the Sudan,A,PCLI,Africa
451320,Sudano,"[{'start': 72, 'end': 78}]",SDN,0.922130,486851,NaN,16.0,30.0,SDN,366755.0,Republic of the Sudan,A,PCLI,Africa
457741,Sudano,"[{'start': 179, 'end': 185}]",SDN,0.898828,3893229,NaN,16.0,30.0,SDN,366755.0,Republic of the Sudan,A,PCLI,Africa
479682,Sudano,"[{'start': 94, 'end': 100}]",SDN,0.878679,559046,NaN,16.0,30.0,SDN,366755.0,Republic of the Sudan,A,PCLI,Africa
483085,Sudano,"[{'start': 153, 'end': 159}]",SDN,0.832241,477568,NaN,16.0,30.0,SDN,366755.0,Republic of the Sudan,A,PCLI,Africa
492530,Sudano,"[{'start': 852, 'end': 858}]",SDN,0.898828,719850,NaN,16.0,30.0,SDN,366755.0,Republic of the Sudan,A,PCLI,Africa
493096,Sudano,"[{'start': 1082, 'end': 1088}]",SDN,0.898828,3978929,NaN,16.0,30.0,SDN,366755.0,Republic of the Sudan,A,PCLI,Africa
495291,Sudano,"[{'start': 605, 'end': 611}]",SDN,0.922130,3945451,NaN,16.0,30.0,SDN,366755.0,Republic of the Sudan,A,PCLI,Africa
506240,Sudano,"[{'start': 262, 'end': 268}]",SDN,0.884594,3942488,NaN,16.0,30.0,SDN,366755.0,Republic of the Sudan,A,PCLI,Africa
512364,Sudano,"[{'start': 431, 'end': 437}]",SDN,0.898828,518373,NaN,16.0,30.0,SDN,366755.0,Republic of the Sudan,A,PCLI,Africa

In [13]:
did = 3942488
print(df[df.id==did].content.values[0])
for i, r in places[places["doc_id"]==did].iterrows():
    print(r["word"],r["place_name"],r["feature_code"],r["country_conf"])

An entomological study was conducted in a village of Sudano-Guinean savanna in Senegal, during the rainy season from July to November 2001, to investigate the biology and the involvement of each anopheline species in malaria transmission. Mosquitoes were captured when landing on human volunteers and by pyrethrum spray catches. Twelve anopheline species were captured. Four species amounted to 97% of human-bait sampling: Anopheles gambiae molecular form S, An. arabiensis, An. funestus, and An. nili s.s. All An. gambiae and An. nili females were fed on human, whereas the anthropophilic rate was 94.5% for An. funestus and 88.9% for An. arabiensis. Plasmodium falciparum was the only malaria parasite found, and infecting only An. gambiae, An. arabiensis, An. funestus, and An. nili. The circumsporozoite rate was 4.5% for An. gambiae, 1. 6% for An. arabiensis, 3.9% for An. funestus, and 2.1% for An. nili. During the period of study, the entomological inoculation rate was estimated to 264 infected bites. An. gambiae, An. arabiensis, An. funestus, and An. nili were responsible respectively of 56, 3, 20, and 21% of malaria transmission. This study shows for the first time the implication of An. nili in malaria transmission in this area and the complexity of the malaria vectorial system that should be taken into account for any malaria control strategy.
Ngari nan nan 0.4436052739620209
Senegal Republic of Senegal PCLI 0.9481911659240724
Sudano Republic of the Sudan PCLI 0.8845937252044678

In [7]:
places.head()

,word,spans,country_predicted,country_conf,doc_id,admin1,lat,lon,country_code3,geonameid,place_name,feature_class,feature_code
2,Barents Sea,"[{'start': 329, 'end': 340}]",NaN,0.904877,1340101,NaN,74.00000,36.00000,NaN,630674.0,Barents Sea,H,SEA
9,East Siberia,"[{'start': 1228, 'end': 1240}]",NaN,0.904877,1340101,NaN,74.00000,166.00000,NaN,2127381.0,East Siberian Sea,H,SEA
17,Gulf Coast,"[{'start': 497, 'end': 507}]",USA,0.904877,222401,Mississippi,29.36901,-95.00565,USA,7287689.0,Gulf Coast,L,AREA
19,San Diego,"[{'start': 114, 'end': 123}]",USA,0.963741,3307272,California,33.02820,-116.77021,USA,5391832.0,San Diego County,A,ADM2
29,Alaska,"[{'start': 91, 'end': 97}]",USA,0.959621,355004,Alaska,64.00028,-150.00028,USA,5879092.0,Alaska,A,ADM1

In [8]:
import pycountry_convert as pc
def get_cont(x):
    continents = {
        'NA': 'North America',
        'SA': 'South America', 
        'AS': 'Asia',
        'OC': 'Oceania',
        'AF': 'Africa',
        'EU': 'Europe'
    }
    try:
        return continents[pc.country_alpha2_to_continent_code(pc.country_alpha3_to_country_alpha2(x['country_predicted']))]
    except:
        return None
places['continent'] = places.apply(lambda x: get_cont(x), axis=1)
other_country_continents = [
    ("ESH","Africa"),
    ("TLS","Oceania"),
    ("XKX","Europe")
    
]
for country,continent in other_country_continents:
    places.loc[places['country_predicted']==country,"continent"] = continent

places.head()

,word,spans,country_predicted,country_conf,doc_id,admin1,lat,lon,country_code3,geonameid,place_name,feature_class,feature_code,continent
2,Barents Sea,"[{'start': 329, 'end': 340}]",NaN,0.904877,1340101,NaN,74.00000,36.00000,NaN,630674.0,Barents Sea,H,SEA,None
9,East Siberia,"[{'start': 1228, 'end': 1240}]",NaN,0.904877,1340101,NaN,74.00000,166.00000,NaN,2127381.0,East Siberian Sea,H,SEA,None
17,Gulf Coast,"[{'start': 497, 'end': 507}]",USA,0.904877,222401,Mississippi,29.36901,-95.00565,USA,7287689.0,Gulf Coast,L,AREA,North America
19,San Diego,"[{'start': 114, 'end': 123}]",USA,0.963741,3307272,California,33.02820,-116.77021,USA,5391832.0,San Diego County,A,ADM2,North America
29,Alaska,"[{'start': 91, 'end': 97}]",USA,0.959621,355004,Alaska,64.00028,-150.00028,USA,5879092.0,Alaska,A,ADM1,North America

In [9]:
doc_continents = places[["doc_id","continent"]]
print(doc_continents.shape)
doc_continents = doc_continents.drop_duplicates(["doc_id","continent"])
print(doc_continents.shape)
doc_continents.to_csv('../data/doc_continents.csv',index=False)

(208134, 2)
(127647, 2)

In [10]:
print(len(doc_continents.doc_id.unique()))

94834