In [4]:
import pandas as pd
import re

import django, sys, os
sys.path.append('/home/galm/software/django/tmv/BasicBrowser/')
sys.path.append('/home/max/software/django-tmv/tmv_mcc-apsis/BasicBrowser')
os.environ.setdefault("DJANGO_SETTINGS_MODULE", "BasicBrowser.settings")
django.setup()
from scoping.models import *

In [3]:
df = pd.read_csv('../data/0_labelled_documents.csv')
df.head()

,id,content,title,wosarticle__de,wosarticle__wc,ar5,seen,relevant,random_sample,representative_relevant_sample,...,8 - 8.11. Remote sensing,9 - observations,6 - 72 Conflict,4 - 50 Other (marine & coastal),12 - Physical systems,unlabelled,6 - Precipitation,6 - Temperature,driver_coded,6 - Other
0,789732,The recent and rapid digitization of biodivers...,The contribution of small collections to speci...,Species distribution modelling; Global biodive...,['Ecology'],0,1.0,0.0,1,0,...,0.0,0.0,NaN,NaN,0,1,0,0,0,1
1,1805826,The theory of runs was used in the investigati...,"Rainfall variability, drought and implications...",0,['Environmental Sciences; Meteorology & Atmosp...,0,1.0,1.0,1,0,...,0.0,0.0,NaN,NaN,0,0,1,0,1,0
2,173924,The recession of mountain glaciers around the ...,Accelerated loss of alpine glaciers in the Kod...,Kodar Mountains; Russia; Mountain glaciers; Re...,"['Geography, Physical; Geosciences, Multidisci...",1,1.0,1.0,0,0,...,0.0,0.0,NaN,NaN,0,0,0,0,0,1
3,367096,The closing of the Central American Seaway (CA...,Surface and deep-water variability at the Blak...,Planktic foraminifera; Carbon and oxygen isoto...,"['Geography, Physical; Geosciences, Multidisci...",0,1.0,0.0,1,0,...,0.0,0.0,NaN,NaN,0,1,0,0,0,1
4,1526486,Hot and cold climates have posed differential ...,Cultural adaptations to the differential threa...,0,"['Psychology, Biological; Behavioral Sciences;...",0,1.0,0.0,1,0,...,0.0,0.0,NaN,NaN,0,1,0,0,0,1

In [18]:
attribution_cols = [x for x in df.columns if re.match("^2 - ",x) and "hidden" not in x and "Null" not in x]

some_attribution = df[df[attribution_cols].sum(axis=1)>0]

for x in attribution_cols:
    print(x)
    print(f"{df[x].sum()/some_attribution.shape[0]:%}")

2 - 2.1. Climate change attribution
8.434959%
2 - 2.2 Trend attribution
41.768293%
2 - 2.3. Attribution to extreme event
5.691057%
2 - 2.4. Sensitivity
39.329268%
2 - 2.5. Detection of a regional climate trend (no attribution)
10.569106%

In [15]:
some_attribution = df[df[attribution_cols].sum(axis=1)>0]
some_attribution.shape

(994, 252)

In [5]:
qs = Query.objects.filter(pk__in=[8145,7368,8272, 8696, 8609, 8696, 8777])
dos = DocOwnership.objects.filter(query__in=qs,relevant__in=[1,2])
do_df = pd.DataFrame.from_dict(dos.values('user','doc_id'))
do_df.head()

   user   doc_id
0     1  2312653
1     1  2326678
2     1   145707
3     1  2330924
4     1  2367136

In [9]:
do_df.groupby('user').count().median()

doc_id    133.0
dtype: float64

In [12]:
do_df.groupby('user').count().mean()

doc_id    173.588235
dtype: float64

In [13]:
do_df.groupby('user').count()

      doc_id
user
1        994
163      155
164      218
244      140
245       83
246      136
250       97
251       63
252      110
253       91
254      142
255      206
256      169
257       94
258      118
259      133
261        2

In [15]:
do_df.groupby('user').count().query('doc_id>5').shape

(16, 1)